* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Coming Soon', sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10vw;
    flex-wrap: wrap;
}

header>p {
    color: rgb(172, 172, 172);
}

/* game setting screen */

.game-settings {
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
    justify-content: center;
    height: 85vh;
}

.rounds-input {
    margin: 10px 0;
    padding: 5px;
    border-radius: 10px;
    border: 2px solid black;
}

.rounds-input:hover {
    border: 2px solid rgb(130, 130, 130);
}

.start-game-btn {
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 15px;
    border: 2px solid black;
    width: 5em;
    flex: none;
}

.start-game-btn:hover {
    background-color:rgb(53, 53, 53);
}

/* Gameplay */

.game-play {
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    gap: 5vh;
}

.left {
    border: 2px solid black;
    border-radius: 10px;
    padding: 20px;
    width: 80vw;
    flex: 0 1 auto;
}

.left > h2 {
    text-align: center;
}

.player-choice {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    margin: 8px 0;
}

.player-choice button, .player-choice>p {
    flex: auto;
}

.player-choice button {
    background-color: black;
    color: white;
    border: 2px solid black;
    border-radius: 5px;
}

.player-choice button:hover {
    background-color: rgb(54, 54, 54);
}

h3 {
    font-size: 15px;
    color: rgb(129, 129, 129);
}

/* right */

.right {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.right h2 {
    font-weight: 700;
    font-size: 1.7em;
}

.right > button {
    background-color: black;
    color: white;
    border: 2px solid black;
    border-radius: 5px;
    padding: 3px;
}

.right > button:hover {
    background-color: rgb(42, 42, 42);
}